<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Movie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">OMDb Movies</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/search">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/movies/favorites">Favorites</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-md mt-3">
        <h1>My Favorites: </h1>


        <% for(let movie of movies){ %>

            <div class="card mb-3 d-inline-block" style="width: 18rem;">
                <% if(movie.data.Poster){ %>
                    <img src="<%= movie.data.Poster %>" class="card-img-top" alt="...">
                    <% } %>
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= movie.data.Title %>
                                    <%= movie.data.Year %>
                            </h4>
                            <h5 class="card-text">
                                IMDb Rating: <%= movie.data.imdbRating %>
                            </h5>
                            <p class="card-text">
                                <%= movie.data.Plot %>
                            </p>

                            <form action="/api/movies/favorites/<%= movie.data.imdbID %>/remove?_method=DELETE"
                                method="post">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                            <!-- <a href="#" class="btn btn-primary"></a> -->

                        </div>
            </div>

            <% } %>
    </div>

</body>

</html>